@if (IsShown && !(currentItem is null))
{
    <div class="modal @(IsShown ? "show d-block" : "")" tabindex="-1" role="dialog">
        <div style="z-index: unset;" class="modal-backdrop @(IsShown ? "show" : "d-none")" @onclick="FocusModal"></div>
        <div class="modal-dialog modal-lg modal-dialog-centered animate__animated animate__faster @AnimateClassName" role="document">
            <div class="modal-content animate__animated animate__fast @FocusClassName">
                <div class="modal-header">
                    <h5 class="modal-title overflow-ellipsis" id="exampleModalLabel">@currentItem.Name</h5>
                    <button type="button" class="close" @onclick="CloseModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="max-height: calc(100vh - 200px); overflow: auto;" class="modal-body">
                    <ViewFile item="@currentItem" />
                </div>
                @if (currentItem.Size > Config.Default_LargeFileSize)
                {
                    <div class="text-center mb-2 font-weight-light">
                        <span class="oi oi-task mr-1 text-info"></span>
                        <span>For more file downloading process reliability, you can use</span>
                        <a class="inline-link" target="_blank" href="@($"{Config.ApiUrl}DownloadFDM")" download>Free Download Manager</a>
                        <span> .</span>
                    </div>
                }
                <div style="justify-content: center;" class="modal-footer text-center">
                    <a @onclick="Download" style="min-width: 120px" class="btn btn-success" target="_blank" href="@(currentItem.IsFolder && currentItem.IsDownloadableContent? $"{Config.ApiUrl}DownloadDirectory?DirectoryId={currentItem.Id}": $"{Config.ApiUrl}DownloadFile?FileId={currentItem.Id}")" download>
                        <span class="oi oi-data-transfer-download mr-2"></span>
                        <span>@(currentItem.IsFolder ? "Download as Zip file" : "Download")</span>
                    </a>
                    @if (currentItem.Type == SharedLibraries.ItemType.ISO)
                    {
                        <button style="min-width: 120px" type="button" class="btn btn-primary" @onclick="MountISO" disabled>
                            <span class="oi oi-target mr-2"></span>
                            <span>Mount ISO</span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code{

    AppItem currentItem { get; set; }

    bool IsShown = false;

    string AnimateClassName = "animate__bounceIn";
    string entrancesAnimationName = "animate__zoomIn";
    string emphasisAnimationName = "animate__tada";
    string exitsAnimationName = "animate__bounceOut";
    string FocusClassName = "";

    bool IsAnimating = false;

    public void ShowModal(AppItem item)
    {
        currentItem = item;
        AnimateClassName = entrancesAnimationName;

        IsShown = true;

        StateHasChanged();
    }

    public async void FocusModal()
    {

        if (IsAnimating)
        {
            return;
        }

        IsAnimating = true;

        FocusClassName = emphasisAnimationName;

        await Task.Delay(600);

        FocusClassName = "";

        IsAnimating = false;

        StateHasChanged();
    }


    public async void CloseModal()
    {

        AnimateClassName = exitsAnimationName;

        await Task.Delay(500);

        IsShown = false;

        StateHasChanged();

        AnimateClassName = entrancesAnimationName;
    }

    public void Download()
    {
        //using HttpClient request = new HttpClient();
        //_ = request.GetStreamAsync($"{Config.ApiUrl}DownloadFile?FileId={currentItem.Id}");
        CloseModal();
    }

    public void MountISO()
    {
        Console.WriteLine("Mounting ISO...");
    }

}